@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}



@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --main-color:#ADEBB4;
    --font-color:#191919;
    --subfont-color:#A1A1A1;
}

body {
    font-family: 'Pretendard', "Noto Sans KR", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    color: var(--font-color);
    text-transform: uppercase;
}
a{
    color: var(--font-color);
}
span{
    font-size: 1.4rem;
}
.header{
    position: sticky;
    top: 0;
    background: rgba(248, 248, 248, 0.8);
}

.inner{
    max-width: 1400px;
    margin: 0 auto;
    padding:0 6rem;
}
.flex{
    display: flex;
    align-items: center;
}
.p-50{
    padding: 5rem 0;
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 3rem 0;
}
.menu{
    justify-content: center;
    padding-bottom: 1rem;
}
.menu li{
    margin: 0 2rem;
}
.menu li a{
    color: var(--subfont-color);
    font-weight: 300;
}
.menu li a:hover{
    color: var(--main-color);
}
.menu a.active{
    color: var(--main-color);
    font-weight: 400;
}
.main-bg{
    background: url(/assets/images/Ellipse.png) no-repeat center right;
}
.main-text{
    padding: 20rem 0;
}
.main-text p{
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.main-text p .deco{
    font-size: 3.6rem;
    color: var(--main-color);
}
.skill-scroll{
    background-color: var(--font-color);
    padding: 1.2rem 0;
}
.skill-box{
    overflow: hidden;
    width: 100%;
}
.skill-list{
    width: max-content;
}
.skill-list li{
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0 2rem;
    color: var(--main-color);
    font-weight: 300;
}
h2{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--main-color);
}
.profile-img{
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: -7rem;
}
.profile-img img{
    width: 100%;
    height: auto;
}
.about-bg{
    background: #191919;
    border-radius: 12px;
    padding:2rem;
}
.deco-circle{
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.circle{
    width: 18px;
    height: 18px;
    border-radius: 9999px;
}
.about-tab{
    background: #fff;
    padding: 1.5rem 5rem 1.5rem 3rem;
    border-radius: 12px 12px 0 0;
    position: relative;
}
.about-tab:after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url(/assets/images/close_svgrepo.com.png) no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -2px;
}
.red{
    background: #E23C3C;
}
.yellow{
    background: #E2B93C;
    margin: 0 0.5rem;
}
.green{
    background: #3CE24B;
}
.bg-body{
    background: #fff;
    border-radius: 12px;
}
.pb-1{
    padding-bottom: .8rem;
}
.about-box{
    justify-content: space-around;
    gap: 1rem;
    padding: 5rem 5rem 0 5rem;
}
.about-box .about-item{
    border: 1px solid var(--font-color);
    padding: 2rem;
    width: 33%;
    min-height: 14rem;
    height: stretch;
    flex: 1;
    border-radius: 12px;
    background-color: #F8F8F8;
}
.about-box .education span{
    display: inline-block;
    color: var(--subfont-color);
    margin-bottom: .5rem;
}
.deco-icon{
    width: 2rem;
    height: 2rem;
    margin-right: .4rem;
}

.study-list span{
    display:block;
    padding-bottom: .7rem;
}
h3{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}
.about-skill{
    padding: 3rem 5rem;
}
.skill-icon{
    gap: 2rem;
}
.skill-icon li{
    width: 100%;
    max-width: 40px;
    height: auto;
}
.skill-icon li img{
    max-width: 100%;
    height: auto;
}

.contact-box{
    gap: 2rem;
    padding-top: 5rem;
}
.contact-item{
    flex: 1;
    justify-content: center;
    width: 100%;
    text-align: center;
    background: #F8F8F8;
    padding: 7rem 0;
    border-radius: 12px;
}
footer{
    background: var(--main-color);
    overflow: hidden;
}
.footer-item{
    text-align: center;
    padding-top: 5rem;
}

.thank{
    font-size: 16rem;
    font-weight: 900;
    color: #fff;
    opacity: .4;
    line-height: 10rem;
}
.copy{
    padding-bottom: 3rem;
    font-size: 1.4rem;
    color: #F8F8F8;
    opacity: .6;
}
.works{
    padding-bottom: 10rem;
}
.work-item{
    padding-top: 5rem;
}
.work-subtitle{
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 1rem;
    background: var(--main-color);
    border-radius: 9999px;
    padding: 0.2rem 1rem;
}
h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 1rem 0;
}
.work-detail{
    padding-left: 5rem;
}
.w-grid{
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
}
.work-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--subfont-color);
}
.work-grid:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.work-grid p{
    font-size: 2rem;
}
.work-img{
    width: 100%;
    height: 33rem;
    border: 1px solid #cacaca;
    border-radius: 12px;
    background: #F8F8F8;
}
.work-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.tool-icon{
    gap: 2rem;
}
.tool-icon img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}


@media (max-width:1024px){
    .about-box{
        flex-direction: column;
        padding: 3rem 5rem 0 5rem;
    }
    .about-box .about-item{
        width: 100%;
    }
    .profile-img{
        max-width: 30rem;
        margin-bottom: -5.4rem;
    }
    .skill-icon{
        justify-content: space-between;
    }
    .about-skill{
        padding: 3rem 4rem;
    }
    .thank{
        font-size: 10rem;
        line-height: 8rem;
    }
        
}
@media (max-width:768px) {
    .inner{
        padding:0 2rem;
    }
    .main-bg{
        background-position-x: left;
    }
    .menu li {
        margin: 0 1.3rem;
    }
    .menu li a{
        font-size: 1.4rem;
    }
    .main-text p{
        font-size: 2.4rem;
    }
    .main-text p .deco{
        font-size: 3rem;
    }
    .about-box {
        padding: 3rem 3.4rem 0 3.4rem;
    }
    .thank{
        font-size: 5rem;
        line-height: 4rem;
    }
    .w-grid{
        grid-template-columns: 1fr;
    }
    .work-detail {
        padding-left: 0;
        padding-top: 3rem;
    }
    .contact-box{
        flex-direction: column;
    }
    .skill-icon{
        flex-wrap: wrap;
    }
    .skill-icon li{
        width: 25%;
    }
}